<html>
<head>
<title>Random Bash Excerption</title>
</head>
<body>
<div class="container">
    <form method="POST">
        <input type="submit" value="Get random excerption" >
    </form>
    {{random_bash | safe}}
</div>
</body>

</html>